# Common
.local/
Debug/
tmp/

# Build directory
build*/

# The tests results
results/

# For IDE/Editors
.vscode
.idea
tags
cscope*
.ccls-cache/
compile_commands.json

# CMake
/obj-*/

########################################
# Packages
########################################
# Debian
/Package/
**/debian/*
!**/debian/*.in
!**/debian/compat
!**/debian/copyright
!**/debian/rules
!**/debian/lintian-overrides
!**/debian/README*
