.local/
Debug/
tmp/

# Build directory
build*/

	@@ -11,3 +16,19 @@ tags
cscope*
.ccls-cache/
compile_commands.json

# CMake
/obj-*/

########################################
# Packages
########################################
# Debian
/Package/
**/debian/*
!**/debian/*.in
!**/debian/compat
!**/debian/copyright
!**/debian/rules
!**/debian/lintian-overrides
!**/debian/README*
